/* ################ *
        General
 * ################ */

body {
    font-family: 'Roboto', sans-serif;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    width: 50%;
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}


/* ################ *
        Options
 * ################ */

select {
    font-size: .9rem;
    padding: 2px 5px;
}

/* ################ *
        Result
 * ################ */
#generated-password {
    font-family: 'Roboto Mono', monospace;
}