/* ################ *
        General
 * ################ */

body {
    font-family: 'Roboto', sans-serif;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    width: 50%;
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}



/* ################ *
        Header
 * ################ */

h1 {
    text-align: center;
}

h1~p {
    width: 50%;
    text-align: center;
}


/* ################ *
        Options
 * ################ */

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

.single-option-container label span {
    font-style: italic;
}

/* ################ *
        Result
 * ################ */
#buttons-container {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.button {
    padding: 10px 15px;
    margin: 10px 15px;
    background-color: rgb(124, 124, 124);
    border-radius: 5%;
}


#generated-password {
    border: 1px black solid;
    width: 50%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}